{% extends 'main.twig' %}

{% block contenttitle %}
	<div class="pull-left">
		<i class="fa fa-user"></i>Add Contributor
	</div>
	<div class="pull-right">
		<a href="{{ path_for('listContributor') }}" class="button secondary"><i class="fa fa-arrow-left"></i>Back</a>
	</div>
{% endblock contenttitle %}

{% block content %}
	
{% endblock content %}