body {
	background: #E1E1E1;
}

button > i {
	margin-right: 5px;
}

.navbar {
	background:  #31af7b;
	height: 70px;
	width: 100%;
	margin-bottom: 15px;
}

.container {
	padding: 20px;
	background: white;
	min-height: 89vh;
	height: auto;
}

.container--title .pull-left{
	color: #31af7b;
	font-size: 16px;
	text-transform: uppercase;
	margin: 10px 0 25px 0;
	font-weight: 700;
}

.container--title i {
	margin-right: 10px;
}

.add {
}

table, table thead td {
	text-align: center;
}

table thead{
	background: transparent;
	border: 0;
}

table tbody {
	background: transparent;
	border: 0;
}

.action a, .action button {
	margin: 0;
	border-radius: 2px;
}

.reveal {
	text-align: center;
	border-radius: 5px;
	border: none;
}

.reveal .callout {
	background: none;
	border: none;
}

.reveal .callout p i {
	color: #FAC905;
	margin-right: 10px;
}

.reveal .callout p  {
	font-size: 14px;
}

.actionbutton i {
	margin-right: 5px;
}

#confirmationid {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 30px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + .inputfilelabel {
    font-size: 1rem;
    border: 1px solid #cacaca;
    border-radius: 50px;
    color: white;
    background-color: #31af7b;
    display: block;
    cursor: pointer;
    height: 2.4375rem;
    padding: .5rem;
    line-height: normal;
    transition: all 0.2s ease-in;
    text-align: center;
}

.inputfilelabel i {
	margin-right: 10px;
}

.inputfile:focus + .inputfilelabel,
.inputfile + .inputfilelabel:hover {
    background-color: #24885f;
}

.button--primary {
	border-radius: 3px;
	background: #31af7b;
}

.button--primary:hover {
	background: #24885f;
}